<ion-view view-title="My Events">
  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-minus-outline"
              ng-click="toggleDelete()"></button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="event in events " class="item-thumbnail-left">
        <img ng-src="{{baseURL+event.image}}">
        <h2>{{event.name}}</h2>
        <p>Host: {{event.clientId}}</p>
        <p>{{event.description}}</p>
        <ion-delete-button class="ion-minus-circled"
                        ng-click="deleteEvent(event.id)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
